{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for topic in topics %}
    <div class="col-md-4 mb-4">
        <a href="{% url 'chatbot:personal_tutor_view' %}?topic={{ topic.topic|urlencode }},{{ topic.description|urlencode }}" class="card text-decoration-none">
            <div class="card-body text-center">
                <h5 class="card-title">{{ topic.topic }}</h5>
                <p class="card-text">{{ topic.description }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}