<!DOCTYPE html>
<html>

<head>
    <title>Label Task</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        /* Adjust the width and height of the chart */
        #candlestick-chart {
            width: 100vw;
            height: 80vh;
            /* Adjusted height */
        }
    </style>
</head>

<body>
    <div id="candlestick-chart"></div>
    <input type="date" id="start-date" placeholder="Enter start date">
    <input type="date" id="end-date" placeholder="Enter end date">
    <input type="text" id="annotation-input" placeholder="Enter annotation text">
    <button id="add-annotation">Add Annotation</button>
    <script>
        var data = {{ data| safe }};
        var trace = {
            x: data.map(row => {
                var date = new Date(row[0]);
                var year = date.getFullYear().toString().substr(-2);  // Get last two digits of year
                var month = (date.getMonth() + 1).toString().padStart(2, '0');  // Get month and pad with 0 if necessary
                var day = date.getDate().toString().padStart(2, '0');  // Get day and pad with 0 if necessary
                return `${year}-${month}-${day}`;
            }),
            open: data.map(row => row[1]),  // Assuming the second element is 'Open'
            high: data.map(row => row[2]),  // Assuming the third element is 'High'
            low: data.map(row => row[3]),  // Assuming the fourth element is 'Low'
            close: data.map(row => row[4]),  // Assuming the fifth element is 'Close'
            type: 'candlestick'
        };

        var layout = {
        title: 'Candlestick Chart',
        xaxis: { title: 'Date' },
        yaxis: { title: 'Price' }
    };

    Plotly.newPlot('candlestick-chart', [trace], layout);

    
        document.getElementById('add-annotation').addEventListener('click', function () {
            var startDate = document.getElementById('start-date').value;
            var endDate = document.getElementById('end-date').value;
            var annotationText = document.getElementById('annotation-input').value;
            Plotly.relayout('candlestick-chart', {
                shapes: [{
                    type: 'rect',
                    xref: 'x',
                    yref: 'paper',
                    x0: startDate,
                    y0: 0,
                    x1: endDate,
                    y1: 1,
                    fillcolor: '#d3d3d3',
                    opacity: 0.5,  // Reduced opacity
                    line: {
                        width: 0,
                    }
                }],
                annotations: [{
                    text: annotationText,
                    x: startDate,
                    y: 0,
                    showarrow: false
                }]
            });
        });
    </script>
</body>

</html>