{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<style>
    .invalid-input {
        border: 1px solid red;
    }
</style>

<div class="container mt-5">
    <h1>NAPLAN Essay Grader</h1>
    <div id="inputArea">
        <form id="essayForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="essayTypeInput">Essay type:</label>
                <select class="form-control" id="essayTypeInput">
                    <option>Narrative</option>
                    <option>Persuasive</option>
                </select>
            </div>
            <div class="form-group">
                <label for="gradeInput">Grade:</label>
                <select class="form-control" id="gradeInput">
                    <option>Grade 3</option>
                    <option>Grade 5</option>
                    <option>Grade 7</option>
                    <option>Grade 9</option>
                </select>
            </div>
            <div class="form-group">
                <label for="titleInput">Title:</label>
                <input type="text" class="form-control" id="titleInput" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description:</label>
                <textarea class="form-control" id="descriptionInput" rows="5"
                    placeholder="Enter description"></textarea>
            </div>

            <div id="persuasiveGuidelines" class="container mt-4" style="display:none;">
                <h5 class="mt-4 mb-2">Start with an introduction.</h5>
                <p>An introduction lets a reader know what you are going to write about.</p>

                <h5 class="mt-4 mb-2">Write your reasons for your choice.</h5>
                <p>Why is it important for others to get involved in this activity? Explain your reasons.</p>

                <h5 class="mt-4 mb-2">Finish with a conclusion.</h5>
                <p>A conclusion sums up your reasons so that a reader is convinced of your opinion.</p>

                <h5 class="mt-4 mb-2">Remember to:</h5>
                <ul>
                    <li>plan your writing</li>
                    <li>use paragraphs to organise your ideas</li>
                    <li>write in sentences</li>
                    <li>choose your words carefully to convince a reader of your opinion</li>
                    <li>pay attention to your spelling and punctuation</li>
                    <li>check and edit your writing so it is clear.</li>
                </ul>
            </div>
            <div id="narrativeGuidelines" class="container mt-4">
                <h5 class="mt-4 mb-2">Think about:</h5>
                <ul>
                    <li>the characters in your story</li>
                    <li>when and where your story takes place</li>
                    <li>the complication or problem and how it is solved</li>
                    <li>how the story ends</li>
                </ul>

                <h5 class="mt-4 mb-2">Remember to:</h5>
                <ul>
                    <li>plan your story before you start</li>
                    <li>choose your words carefully</li>
                    <li>write in sentences</li>
                    <li>pay attention to your spelling, punctuation, and paragraphs</li>
                    <li>check and edit your writing</li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary" onclick="submitForm()">Create Test</button>
        </form>
    </div>

    <div id="outputArea"
        style="display:none; background-color: #e9e9e9; padding: 15px; border-radius: 5px; margin-top: 20px;">
        <p><strong>Essay Type:</strong> <span id="essayTypeOutput"></span></p>
        <p><strong>Grade:</strong> <span id="gradeOutput"></span></p>
        <p><strong>Title:</strong> <span id="titleOutput"></span></p>
        <p><strong>Description:</strong> <span id="descriptionOutput"></span></p>
    </div>

    <div class="mt-2 text-left" id="refreshIcon" style="display:none;">
        <button onclick="resetForm()" class="btn btn-link">
            <i class="fas fa-redo-alt"></i>
        </button>
    </div>

    <div id="gradingArea" style="display:none;">
        <div class="form-group mt-4">
            <textarea class="form-control" id="gradingTextarea" rows="5"
                placeholder="Your text goes here ..."></textarea>
        </div>

        <button type="button" class="btn btn-primary" onclick="gradeText()">Grade</button>
    </div>

    <div id="gradingOutput" style="margin-top: 20px;"></div>

</div>

<!-- Logout Link -->
<div class="mt-5 text-center">
    <a href="{% url 'logout' %}">Logout</a>
</div>

<script>
    function submitForm() {
        if (!validateForm()) {
            return; // Stop the function if validation fails
        }
        // Get the values
        let essayType = document.getElementById("essayTypeInput").value;
        let grade = document.getElementById("gradeInput").value;
        let title = document.getElementById("titleInput").value;
        let description = document.getElementById("descriptionInput").value;

        // Set the values in the output area
        document.getElementById("essayTypeOutput").textContent = essayType;
        document.getElementById("gradeOutput").textContent = grade;
        document.getElementById("titleOutput").textContent = title;
        document.getElementById("descriptionOutput").textContent = description;

        // Hide input fields
        document.getElementById("inputArea").style.display = "none";
        // Show output area
        document.getElementById("outputArea").style.display = "block";
        // Show refresh icon
        document.getElementById("refreshIcon").style.display = "block";

        let persuasiveGuidelines = document.getElementById("persuasiveGuidelines");
        let narrativeGuidelines = document.getElementById("narrativeGuidelines");

        if (essayType === "Persuasive") {
            persuasiveGuidelines.style.display = "block";
            narrativeGuidelines.style.display = "none";
        } else {
            persuasiveGuidelines.style.display = "none";
            narrativeGuidelines.style.display = "block";
        }

        let outputArea = document.getElementById("outputArea");
        let currentGuidelines = (document.getElementById("essayTypeInput").value === "Persuasive")
            ? document.getElementById("persuasiveGuidelines")
            : document.getElementById("narrativeGuidelines");

        let clonedGuidelines = currentGuidelines.cloneNode(true);
        outputArea.appendChild(clonedGuidelines);

        // Show gradingArea after form is submitted
        document.getElementById("gradingArea").style.display = "block";


    }


    function resetForm() {
        document.getElementById("inputArea").style.display = "block";
        document.getElementById("outputArea").style.display = "none";
        // Hide refresh icon
        document.getElementById("refreshIcon").style.display = "none";
        // document.getElementById("additionalInfo").value = "";
        // Reset dropdown to default and trigger the change event to display the appropriate guidelines
        let essayDropdown = document.getElementById("essayTypeInput");
        essayDropdown.selectedIndex = 0;
        essayDropdown.dispatchEvent(new Event('change'));
        // Hide gradingArea when form is reset
        document.getElementById("gradingArea").style.display = "none";
        // Remove the appended feedback (if exists) from outputArea
        let outputArea = document.getElementById("outputArea");
        let feedbackElement = outputArea.lastChild;
        if (feedbackElement && feedbackElement.nodeName === "DIV" && !feedbackElement.classList.contains('container')) {
            outputArea.removeChild(feedbackElement);
        }

        // Clear the gradingOutput content
        document.getElementById("gradingOutput").innerHTML = "";
    }

    document.getElementById("essayTypeInput").addEventListener("change", function () {
        let persuasiveGuidelines = document.getElementById("persuasiveGuidelines");
        let narrativeGuidelines = document.getElementById("narrativeGuidelines");

        if (this.value === "Persuasive") {
            persuasiveGuidelines.style.display = "block";
            narrativeGuidelines.style.display = "none";
        } else {
            persuasiveGuidelines.style.display = "none";
            narrativeGuidelines.style.display = "block";
        }

        let outputArea = document.getElementById("outputArea");
        let clonedGuidelines = outputArea.querySelector('.container.mt-4');
        if (clonedGuidelines) {
            outputArea.removeChild(clonedGuidelines);
        }
    });


    function validateForm() {
        let titleInput = document.getElementById("titleInput");
        let descriptionInput = document.getElementById("descriptionInput");

        // Check if the inputs are empty and highlight them if they are
        let isTitleEmpty = titleInput.value.trim() === "";
        let isDescriptionEmpty = descriptionInput.value.trim() === "";

        if (isTitleEmpty) {
            titleInput.classList.add("invalid-input");
        } else {
            titleInput.classList.remove("invalid-input");
        }

        if (isDescriptionEmpty) {
            descriptionInput.classList.add("invalid-input");
        } else {
            descriptionInput.classList.remove("invalid-input");
        }

        if (isTitleEmpty || isDescriptionEmpty) {
            alert("Both title and description must be filled out!");
            return false;
        }

        return true;
    }

    function gradeText() {
        let user_response = document.getElementById("gradingTextarea").value;
        let title = document.getElementById("titleOutput").textContent;
        let description = document.getElementById("descriptionOutput").textContent;
        let essay_type = document.getElementById("essayTypeOutput").textContent;
        let grade = document.getElementById("gradeOutput").textContent;

        let requestData = {
            user_response: user_response,
            title: title,
            description: description,
            essay_type: essay_type,
            grade: grade
        };

        console.log("first api call", requestData);
        fetch('/v2essay_grader/grade_essay/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(requestData)
        })
            .then(response => response.json())
            .then(responseData => {
                let feedback = responseData.feedback;

                // Get the grading output div and clear its previous content
                let gradingOutputDiv = document.getElementById("gradingOutput");
                gradingOutputDiv.innerHTML = "";

                // Display the result in the grading output div
                let feedbackElement = document.createElement("div");
                feedbackElement.textContent = feedback;
                gradingOutputDiv.appendChild(feedbackElement);

                console.log("second api call", requestData);
                // Check if the feedback is "Provided essay input is relevant to the title and description."
                // if (feedback === "Provided essay input is relevant to the title and description.") {
                if (feedback === "Provided essay input is relevant to the title and description." && document.getElementById("essayTypeInput").value === "Persuasive") {
                    // Make an AJAX call to the audience grading function
                    fetch('/v2essay_grader/grade_essay_audience/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(requestData) // 'data' should include the required parameters
                    })
                        .then(response => response.json())
                        .then(responseData => {
                            console.log(responseData)
                            let grade_essay_audienceOutput = responseData.feedback;

                            // Display the result in the grading output div
                            let grade_essay_audienceElement = document.createElement("div");
                            grade_essay_audienceElement.innerHTML = grade_essay_audienceOutput;
                            gradingOutputDiv.appendChild(grade_essay_audienceElement);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    // End of audience grading
                    // Make an AJAX call to the text structure grading function
                    fetch('/v2essay_grader/grade_essay_text_structure/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(requestData) // 'data' should include the required parameters
                    })
                        .then(response => response.json())
                        .then(responseData => {
                            console.log(responseData)
                            let grade_essay_audienceOutput = responseData.feedback;

                            // Display the result in the grading output div
                            let grade_essay_audienceElement = document.createElement("div");
                            grade_essay_audienceElement.innerHTML = grade_essay_audienceOutput;
                            gradingOutputDiv.appendChild(grade_essay_audienceElement);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    // End of text structure grading

                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>

{% endblock %}