{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<p><strong style="font-size: larger;">Translate the below text to your language, make sure to use colloquial language i.e write it how you would speak in a day to day language rather than aiming for perfect academic translations. Keep technical terms and words that are not common in your language as it is but type them in your local script.</strong></p>
  <p>{{ sentence }}</p>

  <form method="post" class="mb-3">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'random_sentence' topic %}" style="margin-left: 20px;">Skip</a>
  </form>
{% endblock %}