{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:add' %}">Add</a>
                </div>
            </div>
        </div>
        <!-- New Multiply tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:multiply' %}">Multiply</a>
                </div>
            </div>
        </div>

        <!-- Inside the <div class="row"> after other tiles -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:subtract' %}">Subtract</a>
                </div>
            </div>
        </div>
        <!-- Continue with other tiles or content -->

        <!-- Inside the <div class="row"> after other tiles -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:my_scores' %}">My Scores</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:youtube_viewer' %}">Youtube viewer</a>
                </div>
            </div>
        </div>

        <!-- Inside the <div class="row"> after other tiles -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:leaderboard' %}">Leaderboard</a>
                </div>
            </div>
        </div>


        <!-- More tiles for other applications like multiplication can be added here later -->
    </div>
</div>
{% endblock %}