{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="row">
    <!-- Conditional Tile based on user type -->
    {% if user.user_type == 'LABELLER' %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'chatbot:chat_interface' %}">Chat</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'scholar:index' %}">Scholar</a>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- My Account Tile -->
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <a href="{% url 'myaccount' %}">My Account</a>
            </div>
        </div>
    </div>

    <!-- Referrals Tile -->
    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <a href="{% url 'referred_users_view' %}">Referrals</a>
            </div>
        </div>
    </div>

    </div>

</div>
{% endblock %}