{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- <h1 class="mb-4">Welcome to the Home Page!</h1> -->

    <div class="row">
        {% if request.user.user_type == 'LABELLER' %}
        <!-- My Account Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'myaccount' %}">My Account</a>
                </div>
            </div>
        </div>

        <!-- Courses Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'courses' %}">Courses</a>
                </div>
            </div>
        </div>

        <!-- Doji Detector Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'candlestick_view' %}">Doji Detector</a>
                </div>
            </div>
        </div>

        <!-- Referrals Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'referred_users_view' %}">Referrals</a>
                </div>
            </div>
        </div>
        {% else %}
        <!-- The rest of your tiles go here -->
        {% if request.user.user_type == 'ADMINISTRATOR' %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'create_school' %}">Create School</a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v3essay_grader:combined_prompt' %}">Essay Grader</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v3essay_grader:view_combined_grades' %}">View Results</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v3essay_grader:create_rubric' %}">Create Rubric</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v3essay_grader:view_edit_rubric_criteria' %}">View/Add Criteria to Rubric</a>
                </div>
            </div>
        </div>

        <!-- Random Sentence Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'random_sentence' %}">Babbl</a>
                </div>
            </div>
        </div>

        <!-- My Account Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'myaccount' %}">My Account</a>
                </div>
            </div>
        </div>
        {% endif %}





    </div>


</div>
{% endblock %}