{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Welcome to the Home Page!</h1>

    <div class="row">
        <!-- Essay Grader Tile -->
        <!-- <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v2essay_grader:index' %}">Essay Grader</a>
                </div>
            </div>
        </div> -->

        {% if user_type == 'TEACHER' %}
        <!-- Essay Grader Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v2essay_grader:create_assignment' %}">Create Assignment</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user.user_type == 'TEACHER' %}
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'view_assignments' %}">View Assignments</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user_type != 'STUDENT' %}
        <!-- Essay Grader Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v2essay_grader:index' %}">Teacher Essay Grader</a>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Spell Check Index Tile -->
        <!-- <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'spellcheck:index' %}">Spell Check</a>
                </div>
            </div>
        </div> -->

        <!-- Incorrect Spelling Tile -->
        <!-- <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'spellcheck:incorrect_spelling' %}">Incorrect Spelling</a>
                </div>
            </div>
        </div> -->

        <!-- Essay Input Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'v2essay_grader:essay_input' %}">Student Essay Input</a>
                </div>
            </div>
        </div>


        <!-- Payments Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'payments:billing' %}">Payments</a>
                </div>
            </div>
        </div>

        <!-- My Account Tile -->
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <a href="{% url 'myaccount' %}">My Account</a>
                </div>
            </div>
        </div>

    </div>

    <!-- Logout Link -->
    <div class="mt-5 text-center">
        <a href="{% url 'logout' %}">Logout</a>
    </div>

</div>
{% endblock %}