{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
  <h2>My Account</h2>

  <div class="alert-container" style="height: 60px;">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% if user_subscription %}
  <div class="form-group">
    <label>Subscription Plan:</label>
    <p>{{ user_subscription.plan.name }}</p>
  </div>
{% else %}
  <p>You do not have an active subscription.</p>
{% endif %}

<div class="form-group">
  <label>Your Referral Link:</label>
  <div class="input-group">
      <input type="text" value="{{ referral_link }}" id="referralLink" class="form-control" readonly>
      <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" onclick="copyReferralLink()">Copy</button>
      </div>
  </div>
</div>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ user_form.first_name.id_for_label }}">First Name:</label>
      {{ user_form.first_name|add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label for="{{ user_form.last_name.id_for_label }}">Last Name:</label>
      {{ user_form.last_name|add_class:"form-control" }}
    </div>

    {% if request.user.user_type != 'LABELLER' %}
    <div class="form-group">
      <label>User Type:</label><br>
      {% for choice in user_form.user_type %}
        {% if choice.choice_label != 'Labeller' %}
          {{ choice.tag }} {{ choice.choice_label }}<br>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}
    
    {% if request.user.user_type == 'STUDENT' %}
    <script>
      window.onload = function() {
        var radios = document.getElementsByName('{{ user_form.user_type.html_name }}');
        for (var i = 0; i < radios.length; i++) {
          radios[i].disabled = true;
        }
      }
    </script>
    {% endif %}



    <h3>Change Password</h3>
    <div class="form-group">
      <label for="{{ password_form.old_password.id_for_label }}">Old Password:</label>
      {{ password_form.old_password|add_class:"form-control" }}
    </div>

    <div class="form-group">
      <label for="{{ password_form.new_password1.id_for_label }}">New Password:</label>
      {{ password_form.new_password1|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>

<script>
  setTimeout(function () {
    const alerts = document.querySelectorAll('.alert');
    alerts.forEach(alert => {
      alert.style.display = 'none';
    });
  }, 3000);  // 3 seconds
</script>

<script>
  function copyReferralLink() {
      /* Get the text field */
      var copyText = document.getElementById("referralLink");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      document.execCommand("copy");

      /* Alert the copied text */
      alert("Copied the text: " + copyText.value);
  }
</script>
{% endblock %}