{% extends "base.html" %}

{% block content %}
<h2>Please enter your ETH wallet address to receive rewards. You can update this later if you do not have a wallet yet.</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" id="wallet" name="wallet">
    </div>
    <button type="submit" class="btn btn-primary mb-3" value="Submit">Submit</button>
</form>

<div class="form-group">
    <label for="language">Preferred Language:</label>
    <select class="form-control" id="language" name="language">
        <option value="English" selected>English</option>
        <option value="Marathi">Marathi</option>
    </select>
</div>

{% endblock %}