{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1>View/Edit Rubric Criteria</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>City</th>
                <th>School</th>
                <th>Essay Type</th>
                <th>Grade</th>
                <th>Curriculum</th>
            </tr>
        </thead>
        <tbody>
            {% for rubric in rubrics %}
            <tr class="rubric-row" data-rubric-id="{{ rubric.id }}">
                <td>{{ rubric.name }}</td>
                <td>{{ rubric.state }}</td>
                <td>{{ rubric.city }}</td>
                <td>{{ rubric.school }}</td>
                <td>{{ rubric.essay_type }}</td>
                <td>{{ rubric.grade }}</td>
                <td>{{ rubric.curriculum }}</td>
            </tr>
            <tr class="criteria-row" data-rubric-id="{{ rubric.id }}" style="display: none;">
                <td colspan="7">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Criteria Name</th>
                                <th>Max Score</th>
                                <th>Criteria Desc</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for criteria in rubric.criteria %}
                            <tr>
                                <td>{{ criteria.name }}</td>
                                <td>{{ criteria.max_score }}</td>
                                <td>{{ criteria.desc }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3">No criteria found for this rubric.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<div class="mt-5 text-center">
    <a href="{% url 'logout' %}">Logout</a>
</div>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function() {
        $('.rubric-row').click(function() {
            console.log('Rubric row clicked');
            var rubricId = $(this).data('rubric-id');
            $('.criteria-row[data-rubric-id="' + rubricId + '"]').toggle();
        });
    });
</script>
{% endblock %}